      .attribution {
        font-size: 11px;
        text-align: center;
      }
      .attribution a {
        color: hsl(228, 45%, 44%);
      }
      body {
        background-color: hsl(185, 75%, 39%);
      }
      main {
        position: relative;
        width: 100%;
        height: 100vh;
      }
      .bg-top {
        position: absolute;
        left: -10rem;
        top: -5rem;
        bottom: 5rem;
        width: 50%;
        transform: rotate(360deg);
      }
      .bg-bottom {
        position: absolute;
        right: 0;
        top: 18rem;
        width: 50%;
    
      }
   
      .profile-card {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: hsl(0, 5%, 92%);
        width: 375px;
        border-radius: 10px;
        align-self: center;
        z-index: 0;
        box-shadow:  5px 5px 5px rgba(0, 0, 0, 0.2);

      }
      .top-cover {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
      }
      .profile-name {
        display: flex;
        flex-direction: column;
        text-align: center;
      }
      .pattern-top {
        width: 375px;
        height: 130px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
      .profile-pic {
        border-radius: 50%;
        border: 4px solid hsl(0, 5%, 92%);
        margin-top: -3rem;
      }
      .interactions {
        display: flex;
        justify-content: space-around;
      }
      .row {
        text-align: center;
      }
      @media screen and (max-width: 560px) {
        .bg-top {
          width: 70%;
          position: absolute;
          top: -4rem;
          left: -4rem;
          
        }
        .bg-bottom {
          width: 90%;
          position: absolute;
          top: 30rem;
          right: -6.5rem;
        }
        .profile-card {
          margin: 0 auto;
        }
      
      }